<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="icon" type="image/x-icon" id="favicon" href="https://res.cloudinary.com/dry3rajm2/image/upload/v1754490311/logo_1_lijvsf.png" />
</head>
{% include 'navbar.html' %}
<body class="bg-white-900 text-white flex items-center justify-center min-h-screen">

    <!-- Login Container -->
    <!-- Centered Login Form -->
    <div class="flex flex-grow items-center justify-center mt-60">
        <div class="bg-white-800 p-8 rounded-lg shadow-lg max-w">
            <h2 class="text-center text-2xl font-bold mb-6">Admin Login</h2>

            <form method="post" class="space-y-4">
                {% csrf_token %}
                {% for field in form %}
                <div class="flex items-center space-x-2">
                    <label class="block text-sm font-medium mb-2">{{ field.label_tag }}</label>
                    {{ field }}
					{% if field.errors %}
                    <p class="text-red-500 text-sm">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                
                <button type="submit" class="w-full bg-gray-300 text-black py-2 px-4 rounded-md font-semibold hover:bg-gray-200 transition">Login</button>
            </form>

            <p class="text-center text-sm mt-4">
                Don't have an account? <a href="{% url 'adminsignup' %}" class="text-blue-400 hover:underline">Signup here</a>
            </p>
        </div>
    </div>
{% include 'footer.html' %}
</body>
</html>
