<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" type="image/x-icon" id="favicon" href="https://res.cloudinary.com/dry3rajm2/image/upload/v1754490311/logo_1_lijvsf.png" />
</head>
{% include "navbarstudent.html" %}

<body class="bg-white text-black">
        <div class="text-center text-black py-5 shadow-md mt-20 mb-5">
            <h1 class="text-3xl font-semibold tracking-wide">Hello, {{ user.first_name }}!</h1>
            <p class="mt-4 text-lg">Welcome to your Library Dashboard. Here, you can track your borrowed books, view fines, and more.</p>
        </div>
    {% include "footer.html" %}
</body>
</html>
